.project-container{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 6rem;
    font-family: 'Wotfard','Wotfard-fallback',sans-serif;
    /* min-height: 100vh; */

}
.project-container header{
    text-transform: uppercase;
    text-align: center;
    color: hsl(333deg, 100%, 45%);
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    margin-right: 10rem

}
.project-grid{
    /* margin-top:3rem; */
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    /* background-color: green; */
    width: 90%;
    
    /* padding-top: 0; */
    padding: 2rem;
    
}
.project-name{
    padding: 1.2rem;
    font-size: 1.6rem;
    /* margin-bottom:3rem ; */
    background-color: rgb(8, 108, 202);
    border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     text-align: center;
     padding-bottom: 1.6rem;
     color:white
}
.project{
    box-shadow: 0 0 10px rgba(110, 110, 110, 0.5);
    /* background-color: red; */
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     
     /* padding-bottom:4rem ; */
     width: 90%;
     font-size: 1.4rem;
     position: relative;

}
.project-desc{
    padding: 1.4rem;
    padding-top:0 ;
    color: #222;
    line-height: 2rem;
}
.project-img{
    width: 100%;
    height: 40%;
    margin-bottom: 1.8rem;
}
.github-project{
    /* background-color: rgb(212, 210, 212); */
    opacity: 0;
    display: flex;
    padding: 1rem;
    position: absolute;
    bottom: 0px;
    top:0;
    right:0;
    width: 100%;
    transition: opacity 450ms ease-in-out;
    
    justify-content: center;
    align-items: center;
   
    box-shadow: inset 100px 100px 400px rgba(110, 110, 110, 0.5);
}
.github-project a{
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.6rem;
    color: white;
    background-color: rgb(8, 108, 202);
    cursor: pointer;
}

.project:hover .github-project {
    opacity: 1;
   
}
@media screen and (max-width :999px){
    .project-container header{
        text-transform: uppercase;
        text-align: center;
        color: hsl(333deg, 100%, 45%);
        font-size: 1.8rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        margin-right: 0;
    
    }
    .project-grid{
        /* margin-top:3rem; */
        margin: 0 auto;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:2rem;
        /* background-color: green; */
        width: 90%;
        
        /* padding-top: 0; */
        padding: 2rem;
        
    }
    .project{
        width: 100%;
    }
    .project-desc{
        font-size: 1.1rem;
        padding: 1rem;
        padding-top:0 ;
        color: #222;
        line-height: 1.5rem;
    }

   
}
@media screen and (max-width :767px){
  
    .project-container header{
        text-transform: uppercase;
        text-align: center;
        color: hsl(333deg, 100%, 45%);
        font-size: 1.6rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        margin-right: 0;
    }
    .project-name{
        padding: 1rem;
        font-size: 1.2rem;
        /* margin-bottom:3rem ; */
        background-color: rgb(8, 108, 202);
        border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         text-align: center;
         padding-bottom: 1.6rem;
         color:white
    }
    .project-desc{
        font-size: 1rem;
        padding: 1rem;
        padding-top:0 ;
        color: #222;
        line-height: 1.5rem;
        padding-bottom: 0;
    }
}
@media screen and (max-width:630px){
    
    .project-container header{
        text-transform: uppercase;
        text-align: center;
        color: hsl(333deg, 100%, 45%);
        font-size: 1.4rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        margin-right: 0;
    }
    .project-grid{
        /* margin-top:3rem; */
        margin: 0 auto;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap:2rem;
        /* background-color: green; */
        width: 60%;
        
        /* padding-top: 0; */
        padding: 2rem;
        
    }
    .github-project a{
        padding: 1rem 2rem;
        border-radius: 30px;
        font-size: 1.2rem;
        color: white;
        background-color: rgb(8, 108, 202);
        cursor: pointer;
    }

}
@media screen and (max-width:570px){
    .project-desc{
        /* font-size: 1.1rem;
        line-height: 1.6rem; */
        color: #444
    }
    .project-grid{
        width:70%;
    }
}
@media screen and (max-width:460px){
    .project-container header{
        text-transform: uppercase;
        text-align: center;
        color: hsl(333deg, 100%, 45%);
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        font-weight: 600;
        margin-right: 0;
    }
   
    .project-grid{
        width:80%;
    }
        
}
@media screen and (max-width:420px){
    .project-grid{
        width:90%;
    }
}
@media screen and (max-width:370px){
    .project-grid{
        width:100%;
    }
}
@media screen and (min-width:1000px) and (max-width :1199px){
    .project{
        width: 100%;
    }
    .project-name{
        padding: 1rem;
        font-size: 1.4rem;
        /* margin-bottom:3rem ; */
        background-color: rgb(8, 108, 202);
        border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         text-align: center;
         padding-bottom: 1.6rem;
         color:white
    }
    .project-desc{
        font-size: 1.2rem;
        padding: 1rem;
        padding-top:0 ;
        color: #222;
        line-height: 1.6rem;
    }
}

@media screen and (min-width:1200px) and (max-width : 1399px) {
    .project{
        width: 95%;
    }
    .project-desc{
        font-size: 1.3rem;
        padding: 1.2rem;
        padding-top:0 ;
        color: #222;
        line-height: 2rem;
    }
}

@media screen and (min-width:1700px){
    .project-container{
        max-width: 80%;
        margin: 0 auto;
        margin-top: 10rem;
        font-family: 'Wotfard','Wotfard-fallback',sans-serif;
        /* min-height: 100vh; */
    
    }
    .github-project a{
        padding: 1rem 2rem;
        border-radius: 30px;
        font-size: 1.8rem;
        color: white;
        background-color: rgb(8, 108, 202);
        cursor: pointer;
    }
    .project-desc{
        font-size: 1.6rem;
        padding: 1.4rem;
        padding-top:0 ;
        color: #222;
        line-height: 2.6rem;
    }
}