
.hero-container{

     margin:0 auto;

    margin-top: 5rem;

    display: flex;
    align-items: center;
   
    
    justify-content: space-between;
    /* gap:10rem; */
    min-height: 100vh;
    /* min-height: auto; */
    max-width: 90%;

}
.intro-container{
    
      font-family:'Wotfard','Wotfard-fallback',sans-serif; 
      line-height: 3.4rem;
 
    font-weight: 500;
    font-size: 2rem;
    color: #222;
 
}
.intro-name{
    font-size:5rem ;
    line-height: 6rem; 
    letter-spacing: 0.03rem;
    font-weight: bold;
}
.intro-hello{
    margin-left: 0.5rem;
}
.social-icons-hero{
   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.social-icon-link{
    display: inline-block;
    transition: transform 450ms ease-out;
}
.social-icon{
    width: 60px;
    height: 30px;
    cursor: pointer;
    transition: transform 450ms ease-out;
}
.social-icon-link:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

@keyframes lottieAnimation {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .lottie {
       
        opacity: 0;
        animation: lottieAnimation 1s ease forwards;
        width:600px;
        border-radius:50%,
      
  }

  @media screen and  (max-width:999px) {

.hero-container{

    margin:0 auto;

   margin-top: 8rem;

   display: flex;
   align-items: center;
  flex-wrap: wrap;
   
   justify-content: space-between;
   /* gap:10rem; */
   min-height: 80vh;
   max-width: 90%;

}
.intro-container{
    order: 3;
    flex:1;
    margin-left: 2rem;
    font-family:'Wotfard','Wotfard-fallback',sans-serif; 
    line-height: 3.2rem;

  font-weight: 500;
  font-size: 1.8rem;
  color: #222;

}
.intro-name{
    font-size:4rem ;
    line-height: 5rem; 
    letter-spacing: 0.02rem;
    font-weight: bold;
}
 .intro-name br{
    display: none;
} 
.social-icon{
    width: 70px;
    height: 30px;
    cursor: pointer;
    transition: transform 450ms ease-out;
}
.lottie {
       
    opacity: 0;
    animation: lottieAnimation 1s ease forwards;
    width:500px;
    border-radius:50%,
  
}


  }
  @media screen and (max-width:767px) {
    .social-icon{
        width: 60px;
        height: 24px;
        cursor: pointer;
        transition: transform 450ms ease-out;
    }
    .lottie {
       
        opacity: 0;
        animation: lottieAnimation 1s ease forwards;
        width:200px;
        border-radius:50%,
      
    }
    .intro-container{
        order: 3;
        flex:1;
        margin-left: 2rem;
        font-family:'Wotfard','Wotfard-fallback',sans-serif; 
        line-height: 3.2rem;
    
      font-weight: 500;
      font-size: 1.6rem;
      color: #222;
    
    }
    .intro-name{
        font-size:3rem ;
        line-height: 3.2rem; 
        letter-spacing: 0.02rem;
        font-weight: bold;
    }
  }
  
  @media screen and (min-width:1000px) and (max-width :1199px){
    .hero-container{

        margin:0 auto;
   
       margin-top: 6rem;
   
       display: flex;
       align-items: center;
       justify-content: space-between;
       /* gap:10rem; */
       min-height: 100vh;
       max-width: 90%;
   
   }
    .intro-name{
        font-size:4rem ;
        line-height: 5rem;
        letter-spacing: 0.03rem;
        font-weight: bold;
    }
    .lottie {
       
        opacity: 0;
        animation: lottieAnimation 1s ease forwards;
        width:450px;
        border-radius:50%,
      
  }
  .social-icon{
    width: 50px;
    height: 27px;
    cursor: pointer;
    transition: transform 450ms ease-out;
}
    
  }

  @media screen and (min-width:1200px) and (max-width:1399px) {
    .hero-container{

        margin:0 auto;
   
       margin-top: 6rem;
   
       display: flex;
       align-items: center;
       justify-content: space-between;
       /* gap:10rem; */
       min-height: 100vh;
       max-width: 90%;
   
   }
    .intro-name{
        font-size:4rem ;
        line-height: 5rem;
        letter-spacing: 0.03rem;
        font-weight: bold;
    }
    .lottie {
       
        opacity: 0;
        animation: lottieAnimation 1s ease forwards;
        width:550px;
        border-radius:50%,
      
  }
  .social-icon{
    width: 50px;
    height: 27px;
    cursor: pointer;
    transition: transform 450ms ease-out;
}
  }