.nav-container{
  
    background-color: white; 
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 1000;
    padding:1.6rem 3.2rem;
    padding-bottom: 0.5rem;
 
   
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* gap:16rem; */
}

.navbar-list{
   

    list-style: none;
    display: flex;
    gap:4.2rem;
    justify-content: center;

}
.mobile-nav{
    display: none;
}

.nav-links{
    border: 0;
  
    cursor: pointer;
    background-color: white;
    letter-spacing: 0.1rem;

    font-family: 'Wotfard','Wotfard-fallback',sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
}

.menu-icon{
    display: none;
}
.icon-list{

    

    justify-self: flex-end;
 
}
.nav-icon{
    align-self: flex-end;
    
}
.nav-icon:hover{
    cursor: pointer;
   
}
.logo-container{
 
    cursor: pointer;
    transition: transform 250ms;
}
.logo-container:hover{
    transform: translateY(-5px);
}


.logo{
    font-family:'Wotfard','Wotfard-fallback',sans-serif; 

    font-weight: 700;
    font-size: 4rem;
    color:rgb(43, 119, 191);
}
@keyframes delayedRender {
    0% {
      opacity: 0;
     
    }
    50%{
        opacity: 0.5;
   
    }
    100% {
      opacity: 1;

    }
  }
.logo-tail{
    opacity: 0;
    font-family: 'Dancing Script', cursive;

    letter-spacing: -1.5px;
    font-weight: 600;
    font-size: 3.2rem;
    color:rgb(43, 119, 191);
    animation-delay: 1s;
    animation-name: delayedRender;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    
    
}
@media screen and (min-width :768px) and (max-width:999px){
    .navbar-list{
   

        list-style: none;
        display: flex;
        gap:3rem;
        justify-content: center;
    }
 
    .logo-tail{
        opacity: 0;
        font-family: 'Dancing Script', cursive;
    
        letter-spacing: -1.5px;
        font-weight: 600;
        font-size: 2.2rem;
        color:rgb(43, 119, 191);
        animation-delay: 1s;
        animation-name: delayedRender;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        
        
    }
}


@media screen and (max-width:767px){
    .nav-container{
  
        background-color: white; 
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        z-index: 1000;
        padding:1.4rem 3.2rem;
        padding-bottom: 0.5rem;
     
       
    }
    
    .logo-tail{
        opacity: 0;
        font-family: 'Dancing Script', cursive;
    
        letter-spacing: -1.5px;
        font-weight: 600;
        font-size: 2.4rem;
        color:rgb(43, 119, 191);
        animation-delay: 1s;
        animation-name: delayedRender;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out;
        
        
    }

@keyframes navAnimation {
    0% {
      transform: translateY(-600px);
      
    }
    100% {
      transform: translateY(0);
     
    }
  }
    .menu-icon{
        display: inline-block;
        height: 100%;
        width: 6.5%;
        cursor: pointer;
    }
    .navbar-list{
   
   
        display: none;
    
    }
    .mobile-nav{
       
        display: block;
        animation: navAnimation 400ms ease-out forwards;
        padding:1rem;
     
    }
    .navbar-list-mobile{
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap:3rem;
    }
    .nav-icon{
        align-self: center;
    }
}