.nav-container{
    /* background-color: green; */

    background: color #848484; 
    /* position: fixed; */
   /* background: linear-gradient( hsla(200deg, 100%, 85%, 0.1),hsla(200deg, 100%, 85%, 0)); */
    padding:1.6rem 3.2rem;
    padding-bottom: 1.4rem;
    box-shadow: 0 0 10px rgba(143, 143, 143, 0.5);
}

.navbar{
    
    display: flex;
    justify-content: center;
    gap:16rem;
    /* background-color: green; */
}

.navbar-list{
    /* background-color: red; */
    margin: 1.2rem 1.6rem;
    list-style: none;
    display: flex;
    gap:4rem;
    justify-content: center;

}

.nav-links{
    border: 0;
  
    cursor: pointer;
    background-color: white;
    letter-spacing: 0.1rem;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Wotfard','Wotfard-fallback',sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    /* color: #222; */
    display: inline-block;
}


.icon-list{
    justify-self: flex-end;
 
}
.nav-icon{
    /* padding-top: 0.1rem; */
    align-self: flex-end;
    
}
.nav-icon:hover{
    cursor: pointer;
   
}
.logo-container{
    /* margin-top: 6px; */
    /* align-self: center; */
    cursor: pointer;
    transition: transform 250ms;
}
.logo-container:hover{
    transform: translateY(-5px);
}


.logo{
    font-family:'Wotfard','Wotfard-fallback',sans-serif; 
    /* font-family: 'Dancing Script', cursive; */
    font-weight: 700;
    font-size: 4rem;
    color:rgb(43, 119, 191);
}
@keyframes delayedRender {
    0% {
      opacity: 0;
     
    }
    50%{
        opacity: 0.5;
   
    }
    100% {
      opacity: 1;

    }
  }
.logo-tail{
    opacity: 0;
    font-family: 'Dancing Script', cursive;
    /* font-family:'Wotfard','Wotfard-fallback',sans-serif;  */
    letter-spacing: -1.5px;
    font-weight: 600;
    font-size: 3.2rem;
    color:rgb(43, 119, 191);
    animation-delay: 1s;
    animation-name: delayedRender;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    
    
}


